<h5>hello <%= nickname %> !!</h5> 

<!--建立socketio client -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
var socket = io();
$(document).ready(function(){
        socket.on('connect', function (data) {
             
             console.log('sucess');
             
        })
    })    
</script>
